#domains-container {
  background-color: #f5f5f5;
  padding: 60px 0;
  background: url(https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/image/rDtN98Qoishumwih/vector-nature-background_thumb.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#causes {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: url(https://media.istockphoto.com/id/844226534/photo/leaf-background.jpg?b=1&s=612x612&w=0&k=20&c=kECabGLk1Wkbuq7VS4LmikUzAwOo96ztub90zOIBha8=);
}

.box {
  width: 350px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  margin: 20px;
  text-align: center;
  padding: 20px;
  transition: transform 0.3s ease-in-out;
}

.box:hover {
  transform: translateY(-10px);
}

.box img {
  max-width: 150px;
  margin-bottom: 20px;
}

.btn {
  display: block;
  margin: 40px auto;
  padding: 15px 30px;
  background-color: #2f9ae0;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover {
  background-color: #4bb0e3;
}